In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,np.nan],index=['a','b','c','d'])
ser1

a    1.0
b    2.0
c    3.0
d    NaN
dtype: float64

In [4]:
dframe = pd.read_csv('test.csv')
dframe

               Hour_End         COAST         EAST
0         1/1/2012 1:00   7748.160500   878.438488
1         1/1/2012 2:00   7559.728089   839.092904
2         1/1/2012 3:00   7337.789042   817.995707
3         1/1/2012 4:00   7161.895539   814.967883
4         1/1/2012 5:00   6984.460743   843.952578
5         1/1/2012 6:00   6852.747302   883.708533
6         1/1/2012 7:00   6822.569456   950.228592
7         1/1/2012 8:00   6687.260065   983.090420
8         1/1/2012 9:00   6855.467450  1023.689606
9        1/1/2012 10:00   7196.259305  1027.847212
10       1/1/2012 11:00   7499.546028  1004.881463
11       1/1/2012 12:00   7693.585339   974.715669
12       1/1/2012 13:00   7803.425802   956.512255
13       1/1/2012 14:00   7770.546997   936.347510
14       1/1/2012 15:00   7700.107915   921.311601
15       1/1/2012 16:00   7664.169909   910.857328
16       1/1/2012 17:00   7634.367330   943.436281
17       1/1/2012 18:00   8037.422457  1017.581926
18       1/1/2012 19:00   8611.390355  1130.837687
19       1/1/2012 20:00   8599.124388  1156.400894
20       1/1/2012 21:00   8531.163998  1163.916852
21       1/1/2012 22:00   8401.721743  1156.715225
22       1/1/2012 23:00   8143.236405  1114.381678
23        1/2/2012 0:00   7811.347200  1068.518300
24        1/2/2012 1:00   7499.953671  1021.291831
25        1/2/2012 2:00   7375.156178  1001.302063
26        1/2/2012 3:00   7327.744211  1005.570004
27        1/2/2012 4:00   7375.517430  1020.613818
28        1/2/2012 5:00   7538.139141  1061.459507
29        1/2/2012 6:00   7966.274102  1144.213798
...                 ...           ...          ...
26274  12/30/2014 19:00  11398.767540  1777.810473
26275  12/30/2014 20:00  11397.922880  1759.696293
26276  12/30/2014 21:00  11311.671110  1795.598957
26277  12/30/2014 22:00  11082.001300  1729.728197
26278  12/30/2014 23:00  10717.917850  1662.065252
26279   12/31/2014 0:00  10269.056000  1604.196170
26280   12/31/2014 1:00   9900.570635  1559.622885
26281   12/31/2014 2:00   9668.270579  1532.263312
26282   12/31/2014 3:00   9548.227550  1517.571002
26283   12/31/2014 4:00   9551.252559  1482.689579
26284   12/31/2014 5:00   9774.786533  1485.959557
26285   12/31/2014 6:00  10262.828130  1515.794714
26286   12/31/2014 7:00  10860.654260  1600.392683
26287   12/31/2014 8:00  11182.909990  1660.215798
26288   12/31/2014 9:00  11391.083570  1687.058781
26289  12/31/2014 10:00  11658.882060  1688.384653
26290  12/31/2014 11:00  11785.347420  1673.585317
26291  12/31/2014 12:00  11718.203820  1640.959693
26292  12/31/2014 13:00  11562.643900  1592.279179
26293  12/31/2014 14:00  11473.187770  1552.624487
26294  12/31/2014 15:00  11340.355440  1525.349600
26295  12/31/2014 16:00  11279.235100  1522.902330
26296  12/31/2014 17:00  11456.656710  1549.841923
26297  12/31/2014 18:00  11968.357120  1633.025068
26298  12/31/2014 19:00  12009.598890  1658.267564
26299  12/31/2014 20:00  11652.719640  1608.791168
26300  12/31/2014 21:00  11291.568400  1557.325074
26301  12/31/2014 22:00  10922.048670  1501.159511
26302  12/31/2014 23:00  10520.761600  1437.414501
26303     1/1/2015 0:00  10156.086100  1389.019650

[26304 rows x 3 columns]

In [5]:
dframe = pd.read_table('test.csv')

In [7]:
ser1.to_csv('xx.csv')

In [8]:
import json

In [10]:
json.dumps(ser1)

TypeError: Object of type 'Series' is not JSON serializable